/* styelint-disable */

/* Base16 Rose Pine Color Palette */
@define-color base #191724;
@define-color surface #1f1d2e;
@define-color overlay #26233a;
@define-color muted #6e6a86;
@define-color subtle #908caa;
@define-color text #e0def4;
@define-color love #eb6f92;
@define-color gold #f6c177;
@define-color rose #ebbcba;
@define-color pine #31748f;
@define-color foam #9ccfd8;
@define-color iris #c4a7e7;
@define-color highlightLow #21202e;
@define-color highlightMed #403d52;
@define-color highlightHigh #524f67;

window#waybar {
  background-color: alpha(@base, 0.75);
}

#workspaces {
  background-color: alpha(@highlightLow, 0.5);
  color: @text;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#workspaces button.visible {
  margin-top: 0.5rem;
  border-bottom-color: @iris;
  border-bottom-width: 0.25rem;
  border-radius: 0.25rem;
}

#window {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#workspaces button {
  margin-top: 0.25rem;
}

#workspaces button:hover {
  background-color: @highlightMed;
  color: @text;
}

#pulseaudio-slider {
  min-height: 5rem;
  min-width: 0px;
}

#pulseaudio {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.66rem; /* The icon is a bit misaligned */
  font-size: 1rem;
}

#pulseaudio:hover {
  background-color: @gold;
  color: @base;
}

#tray {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

#idle_inhibitor {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 0.66rem; /* The icon is a bit misaligned */
}

#idle_inhibitor.activated {
  color: @love;
}

#idle_inhibitor:hover {
  background-color: @gold;
  color: @base;
}

#custom-notification {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

#clock.icon,
#clock.hour,
#clock.sep,
#clock.minute {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#clock.icon {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  padding-right: 0.25rem;
  background-color: alpha(@iris, 0.5);
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  padding-top: 0.25rem;
  color: @text;
}

#clock.hour,
#clock.sep {
  padding-top: 0.4rem;
  font-size: 1.1rem;
  background-color: alpha(@iris, 0.5);
  color: @text;
}

#clock.minute {
  padding-top: 0.4rem;
  font-size: 1.1rem;
  background-color: alpha(@iris, 0.5);
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  padding-bottom: 0.5rem;
  color: @text;
}
